:root {
  --body-width: 1024px;
  --filters-background: #122E51;
  --filters-width: 300px;
  --main-width: calc(var(--body-width) - var(--filters-width));
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 500;
}

body {
  margin: 0 auto;
  min-height: 100%;
  width: var(--body-width);
}

header h1 {
  color: var(--filters-background);
  font-weight: 900;
}

main {
  display: inline-block;
  padding: 0 1em;
  width: var(--main-width);
}

#filters {
  background-color: var(--filters-background);
  float: left;
  min-height: 100%;
  padding: 0 1em;
  padding-bottom: 1em;
  padding-top: 3em;
  width: var(--filters-width);
}

.filter {
  background-color: white;
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
}

.filter[disabled] {
  cursor: not-allowed;
}

.filter:last-child {
  border-bottom: 1px solid white;
}

.filter legend {
  display: table-cell;
  font-size: 1.1em;
  font-weight: 600;
}

.filter fieldset {
  padding-top: 2em;
}

.filter fieldset legend {
  background-color: #ccc;
  display: inline-block;
  font-size: 1.0em;
  padding: 0.5em;
  width: 100%;
}

.filter fieldset label {
  margin-top: 1.5em;
}

.filter[disabled] legend {
  color: gray;
}

.filter:before {
  --arrow-size: 20px;
  background-image: url('/static/libs/uswds/img/arrow-down.svg');
  background-repeat: no-repeat;
  content: '';
  height: var(--arrow-size);
  position: absolute;
  right: 1em;
  width: var(--arrow-size);
}

.filter[disabled]:before {
  opacity: 0.5;
}

.filter[disabled]:before,
.filter[aria-expanded="false"]:before {
  transform: rotate(-90deg);
}

.filter[aria-expanded="true"]:before {
  transform: rotate(0deg);
}

.filter[disabled] :not(legend),
.filter[aria-expanded="false"] :not(legend) {
  display: none;
}

section.tables {
  overflow-x: scroll;
  width: 100%;
}

.tables caption {
  border: 1px solid black;
  border-bottom: 0;
  padding: .5em;
  text-align: left;
}

.tables th {
  white-space: nowrap;
}

#summary-data {
  display: none;
}
