h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 500;
}

body {
  margin: 0 auto;
  min-height: 100%;
}

header {
  background-color: #122e51;
  color: white;
}

header div {
  margin: 0 auto;
  padding: 1.3em;
  padding-left: 1.7em;
  position: relative;
  width: 1200px;
}

header div::after {
  display: block;
  content: '';
  clear: both;
}

header h1 {
  display: inline-block;
  font-size: 1.7em;
  font-weight: 500;
  margin-top: .4em;
}

nav {
  position: absolute;
  right: 0;
  top: 35%;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 1.9em;
}

nav li a {
  color: white;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

nav li a.active,
nav li a:hover {
  color: #00bfe7;
}

nav li a:before {
  background-image: url('/static/libs/uswds/img/arrow-down.svg');
  background-repeat: no-repeat;
  content: '';
  height: 10px;
  position: absolute;
  right: -1em;
  top: .4em;
  width: 10px;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

main {
  display: inline-block;
  padding: 0 3em;
  position: relative;
  width: 900px;
}

main h1 {
  border-bottom: 2px solid #ccc;
  font-family: "Merriweather", serif;
  font-size: 2.4em;
  font-weight: 700;
  width: 100%;
}

#loading {
  background-color: rgba(100, 100, 100, 0.8);
  color: white;
  left: 0;
  min-height: 100%;
  padding-top: 10em;
  position: absolute;
  right: 0;
  text-align: center;
  width: auto;
  z-index: 5;
}

#loading.hide {
  display: none;
}

#filters {
  background-color: #eee;
  float: left;
  min-height: 100%;
  padding: 0 1em;
  padding-bottom: 1em;
  padding-top: 3em;
  width: 300px;
}

.filter {
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
}

.filter[disabled] {
  cursor: not-allowed;
}

.filter legend {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  font-family: "Merriweather", serif;
  font-size: 1.1em;
  font-weight: 700;
  padding-bottom: .2em;
  width: 100%;
}

.filter fieldset {
  padding-top: 2em;
}

.filter fieldset legend {
  background-color: #ccc;
  display: inline-block;
  font-size: 1.0em;
  padding: 0.5em;
  width: 100%;
}

.filter fieldset label {
  margin-top: 1.5em;
}

.filter[disabled] legend {
  color: gray;
}

.filter:before {
  background-image: url('/static/libs/uswds/img/arrow-down.svg');
  background-repeat: no-repeat;
  content: '';
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 1em;
  width: 20px;
}

.filter[disabled]:before {
  opacity: 0.5;
}

.filter[disabled]:before,
.filter[aria-expanded="false"]:before {
  transform: rotate(-90deg);
}

.filter[aria-expanded="true"]:before {
  transform: rotate(0deg);
}

.filter[disabled] :not(legend),
.filter[aria-expanded="false"] :not(legend) {
  display: none;
}

section.tables {
  position: relative;
  width: 100%;
}

section.tables > div {
  overflow-x: scroll;
}

#incident-data-column-filter {
  background-color: white;
  background-color: rgba(240, 240, 240, 0.9);
  left: 10em;
  padding-left: .6em;
  padding-top: .4em;
  position: absolute;
  width: 11em;
}

#incident-data-column-filter[aria-expanded="false"] {
  background-color: transparent;
}

#incident-data-column-filter legend {
  font-size: 1em;
  position: relative;
}

#incident-data-column-filter legend:before {
  background-image: url('/static/libs/uswds/img/arrow-down.svg');
  background-repeat: no-repeat;
  content: '';
  cursor: pointer;
  height: 10px;
  position: absolute;
  right: -1em;
  top: .4em;
  width: 10px;
}

#incident-data-column-filter[aria-expanded="false"] legend:before {
  transform: rotate(-90deg);
}

#incident-data-column-filter[aria-expanded="false"] legend ~ * {
  display: none;
}

#filters label,
#incident-data-column-filter label {
  margin-top: .2em;
}

.tables caption {
  border: 1px solid black;
  border-bottom: 0;
  padding: .5em;
  text-align: left;
}

#scroll-for-more {
  display: none;
  margin-left: 400px;
}

#scroll-for-more[aria-visible="true"] {
  display: inline-block;
}

.tables th {
  white-space: nowrap;
}

#summary-data {
  display: none;
}

#fixed-table-header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 800px;
}
