<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Crime Data Explorer prototypes</title>
    <link rel="stylesheet" href="/static/libs/uswds/css/uswds.css">
    <link rel="stylesheet" href="/static/css/filters.css">
  </head>
  <body>
    <header>
      <h1>CDE</h1>
    </header>
    <form id="filters" action="/static/filters.html">
      <fieldset class="filter" id="type-filter">
        <legend>Data type</legend>
        <select name="type" id="type">
          <optgroup label="Crime data">
            <option>Total violent crime</option>
            <option>Murder</option>
            <option>Non-negligent manslaughter</option>
            <option>Rape</option>
            <option>Robbery</option>
            <option>Aggravated assualt</option>
            <option>Total property crime</option>
            <option>Burglary</option>
            <option>Larceny-theft</option>
            <option>Mother vehicle theft</option>
            <option>Arson</option>
          </optgroup>
          <optgroup label="Crime clearance">
            <option>Something</option>
          </optgroup>
          <optgroup label="Arrest data">
            <option>By race</option>
            <option>By age</option>
          </optgroup>
          <optgroup label="Police employee data">
            <option>Employee counts</option>
            <option>Police killed</option>
          </optgroup>
        </select>
      </fieldset>
      <fieldset class="filter" id="location-filter">
        <legend>Location</legend>
        <select name="location" id="location">
          <option>United States</option>
          <option>California</option>
          <option>New York</option>
          <option>Tennessee</option>
          <option>West Virginia</option>
        </select>
      </fieldset>
      <fieldset class="filter" id="time-filter">
        <legend>Time period</legend>
        <label for="time-from">From</label>
        <input type="number" name="time-from" id="time-from" min="1960" max="2016" value="1960">
        <label for="time-to">until</label>
        <input type="number" name="time-to" id="time-to" min="1960" max="2016" value="2016">
      </fieldset>
      <fieldset class="filter" id="offender-filter">
        <legend>About the offender</legend>
        <fieldset>
          <legend>Race</legend>
          <input type="checkbox" name="offender-asian" id="offender-asian">
          <label for="asian">Asian</label>
          <input type="checkbox" name="offender-black" id="offender-black">
          <label for="black">Black</label>
          <input type="checkbox" name="offender-other-race" id="offender-other">
          <label for="Other">Other</label>
          <input type="checkbox" name="offender-unknown-race" id="offender-unknown-race">
          <label for="unknown-race">Unknown</label>
          <input type="checkbox" name="offender-white" id="offender-white">
          <label for="white">White</label>
        </fieldset>
        <fieldset>
          <legend>Sex</legend>
          <input type="checkbox" name="offender-female" id="offender-female">
          <label for="female">Female</label>
          <input type="checkbox" name="offender-male" id="offender-male">
          <label for="male">Male</label>
          <input type="checkbox" name="offender-unknown-sex" id="offender-unknown-sex">
          <label for="unknown-sex">Unknown</label>
        </fieldset>
      </fieldset>
      <fieldset class="filter" id="victim-filter">
        <legend>About the victim</legend>
        <fieldset>
          <legend>Race</legend>
          <input type="checkbox" name="victim-asian" id="victim-asian">
          <label for="asian">Asian</label>
          <input type="checkbox" name="victim-black" id="victim-black">
          <label for="black">Black</label>
          <input type="checkbox" name="victim-other-race" id="victim-other">
          <label for="Other">Other</label>
          <input type="checkbox" name="victim-unknown-race" id="victim-unknown-race">
          <label for="unknown-race">Unknown</label>
          <input type="checkbox" name="victim-white" id="victim-white">
          <label for="white">White</label>
        </fieldset>
        <fieldset>
          <legend>Sex</legend>
          <input type="checkbox" name="victim-female" id="victim-female">
          <label for="female">Female</label>
          <input type="checkbox" name="victim-male" id="victim-male">
          <label for="male">Male</label>
          <input type="checkbox" name="victim-unknown-sex" id="victim-unknown-sex">
          <label for="unknown-sex">Unknown</label>
        </fieldset>
      </fieldset>
    </form>
    <main>
      <section>
        <h2>Methodology</h2>
        <div id='methodology'></div>
      </section>
      <section>
        <h2>Questions</h2>
        <ul>
          <li>What are the things that should be in the "data type" select?</li>
          <li>What filters are available for each data source?</li>
          <li>If all of the elements in "Race" are selected ("Black", "Other", "Unknown", and "White") what does the user expect the data to have?</li>
          <li>What if none of the elements are selected?</li>
          <li>Is there a distinction between victim and offender in property crimes?</li>
        </ul>
      </section>
    </main>
    <script src="/static/libs/fetch.js"></script>
    <script src="/static/js/filters.js"></script>
  </body>
</html>
