<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Crime Data Explorer prototypes</title>
    <link rel="stylesheet" href="/static/libs/uswds/css/uswds.css">
    <link rel="stylesheet" href="/static/css/filters.css">
  </head>
  <body>
    <header>
      <div>
        <h1>Crime Data Explorer</h1>
        <nav>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#" class="active">Data tool</a></li>
            <li><a href="#">Data highlights</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="wrapper">
      <form id="filters" action="/static/filters.html">
        <fieldset class="filter" id="type-filter">
          <legend>Data type</legend>
          <select name="type" id="type">
            <optgroup label="Crime data">
              <option>Total violent crime</option>
              <option>Murder</option>
              <option>Non-negligent manslaughter</option>
              <option>Rape</option>
              <option>Robbery</option>
              <option>Aggravated assualt</option>
              <option>Total property crime</option>
              <option>Burglary</option>
              <option>Larceny-theft</option>
              <option>Mother vehicle theft</option>
              <option>Arson</option>
            </optgroup>
            <optgroup label="Crime clearance">
              <option>Something</option>
            </optgroup>
            <optgroup label="Arrest data">
              <option>By race</option>
              <option>By age</option>
            </optgroup>
            <optgroup label="Police employee data">
              <option>Employee counts</option>
              <option>Police killed</option>
            </optgroup>
          </select>
        </fieldset>
        <fieldset class="filter" id="location-filter">
          <legend>Location</legend>
          <select name="location" id="location">
            <option>United States</option>
            <option>California</option>
            <option>New York</option>
            <option>Tennessee</option>
            <option>West Virginia</option>
          </select>
        </fieldset>
        <fieldset class="filter" id="time-filter">
          <legend>Time period</legend>
          <input type="checkbox" name="jan" id="jan">
          <label for="jan">January</label>
          <input type="checkbox" name="feb" id="feb">
          <label for="feb">February</label>
          <input type="checkbox" name="march" id="march">
          <label for="march">March</label>
          <input type="checkbox" name="april" id="april">
          <label for="april">January</label>
          <input type="checkbox" name="may" id="may">
          <label for="may">May</label>
          <input type="checkbox" name="june" id="june">
          <label for="june">June</label>
          <input type="checkbox" name="july" id="july">
          <label for="July">July</label>
          <input type="checkbox" name="aug" id="aug">
          <label for="aug">August</label>
          <input type="checkbox" name="sep" id="sep">
          <label for="sep">September</label>
          <input type="checkbox" name="oct" id="oct">
          <label for="oct">October</label>
          <input type="checkbox" name="nov" id="nov">
          <label for="jan">November</label>
          <input type="checkbox" name="dec" id="dec">
          <label for="dec">December</label>
          <!-- <label for="time-from">From</label>
          <input type="number" name="time-from" id="time-from" min="1960" max="2016" value="1960">
          <label for="time-to">until</label>
          <input type="number" name="time-to" id="time-to" min="1960" max="2016" value="2016"> -->
        </fieldset>
        <fieldset class="filter" id="offender-filter">
          <legend>About the offender</legend>
          <fieldset>
            <legend>Race</legend>
            <input type="checkbox" name="offender-asian" id="offender-asian">
            <label for="asian">Asian</label>
            <input type="checkbox" name="offender-black" id="offender-black">
            <label for="black">Black</label>
            <input type="checkbox" name="offender-other-race" id="offender-other">
            <label for="Other">Other</label>
            <input type="checkbox" name="offender-unknown-race" id="offender-unknown-race">
            <label for="unknown-race">Unknown</label>
            <input type="checkbox" name="offender-white" id="offender-white">
            <label for="white">White</label>
          </fieldset>
          <fieldset>
            <legend>Sex</legend>
            <input type="checkbox" name="offender-female" id="offender-female">
            <label for="female">Female</label>
            <input type="checkbox" name="offender-male" id="offender-male">
            <label for="male">Male</label>
            <input type="checkbox" name="offender-unknown-sex" id="offender-unknown-sex">
            <label for="unknown-sex">Unknown</label>
          </fieldset>
        </fieldset>
        <fieldset class="filter" id="victim-filter">
          <legend>About the victim</legend>
          <fieldset>
            <legend>Race</legend>
            <input type="checkbox" name="victim-asian" id="victim-asian">
            <label for="asian">Asian</label>
            <input type="checkbox" name="victim-black" id="victim-black">
            <label for="black">Black</label>
            <input type="checkbox" name="victim-other-race" id="victim-other">
            <label for="Other">Other</label>
            <input type="checkbox" name="victim-unknown-race" id="victim-unknown-race">
            <label for="unknown-race">Unknown</label>
            <input type="checkbox" name="victim-white" id="victim-white">
            <label for="white">White</label>
          </fieldset>
          <fieldset>
            <legend>Sex</legend>
            <input type="checkbox" name="victim-female" id="victim-female">
            <label for="female">Female</label>
            <input type="checkbox" name="victim-male" id="victim-male">
            <label for="male">Male</label>
            <input type="checkbox" name="victim-unknown-sex" id="victim-unknown-sex">
            <label for="unknown-sex">Unknown</label>
          </fieldset>
          <fieldset>
            <legend>Age</legend>
            <input type="checkbox" name="victim-age-under-18" id="victim-age-under-18">
            <label for="victim-age-under-18">Under 18</label>
            <input type="checkbox" name="victim-age-over-18" id="victim-age-over-18">
            <label for="victim-age-over-18">Over 18</label>
          </fieldset>
        </fieldset>
        <fieldset class="filter" id="property-filter">
          <legend>Involved property</legend>
          <input type="radio" id="property-yes" name="involved-property" value="yes">
          <label for="property-yes">Yes</label>
          <input type="radio" id="property-no" name="involved-property" value="no">
          <label for="property-no">No</label>
        </fieldset>
        <fieldset class="filter" id="clearance-filter">
          <legend>Case cleared</legend>
          <input type="radio" id="clearance-yes" name="clearance" value="yes">
          <label for="clearance-yes">Yes</label>
          <input type="radio" id="clearance-no" name="clearance" value="no">
          <label for="clearance-no">No</label>
        </fieldset>
        <fieldset class="filter" id="advanced-filter" aria-expanded="false">
          <legend>Advanced</legend>
        </fieldset>
      </form>
      <main>
        <section id="loading">
          <strong>Loading data</strong>
        </section>
        <section>
          <h1>Results</h1>
          <div id='methodology'></div>
        </section>
        <section class="tables">
          <form id="incident-data-column-filter" aria-expanded="false">
            <legend>Show/hide columns</legend>
            <input type="checkbox" name="col-nibrs-id" id="col-nibrs-id" checked>
            <label for="col-nibrs-id">NIBRS ID</label>
            <input type="checkbox" name="col-year" id="col-year" checked>
            <label for="col-year">Year</label>
            <input type="checkbox" name="col-incident-date" id="col-incident-date" checked>
            <label for="col-incident-date">Incident date</label>
            <input type="checkbox" name="col-location" id="col-location" checked>
            <label for="col-location">Location</label>
            <input type="checkbox" name="col-agency" id="col-agency" checked>
            <label for="col-agency">Agency</label>
            <input type="checkbox" name="col-agency-ori" id="col-agency-ori" checked>
            <label for="col-agency-ori">Agency ORI</label>
            <input type="checkbox" name="col-agency-case-id" id="col-agency-case-id" checked>
            <label for="col-agency-case-id">Agency case ID</label>
            <input type="checkbox" name="col-victims" id="col-victims" checked>
            <label for="col-victims">Victims</label>
            <input type="checkbox" name="col-offenses" id="col-offenses" checked>
            <label for="col-offenses">Offenses</label>
            <input type="checkbox" name="col-offenders" id="col-offenders" checked>
            <label for="col-offenders">Offenders</label>
            <input type="checkbox" name="col-arrestees" id="col-arrestees" checked>
            <label for="col-arrestees">Arrestees</label>
            <input type="checkbox" name="col-property" id="col-property" checked>
            <label for="col-property">Property</label>
            <input type="checkbox" name="col-clearance" id="col-clearance" checked>
            <label for="col-clearance">Clearance</label>
          </form>
          <div id="fixed-table-header"></div>
          <div id="full-table">
            <table id="summary-data">
            <caption>Summary data</caption>
            <thead>
              <th>Year</th>
              <th>Location</th>
              <th>Population</th>
              <th>Type</th>
              <th>Count</th>
              <th>Rate per 100,000</th>
            </thead>
            <tbody>
              <tr>
                <td>1980</td>
                <td>California</td>
                <td>38000000</td>
                <td>Murder</td>
                <td>7600</td>
                <td>20</td>
              </tr>
              <tr>
                <td>1981</td>
                <td>California</td>
                <td>39000000</td>
                <td>Murder</td>
                <td>7300</td>
                <td>20</td>
              </tr>
              <tr>
                <td>1982</td>
                <td>California</td>
                <td>39500000</td>
                <td>Murder</td>
                <td>7000</td>
                <td>23</td>
              </tr>
            </tbody>
          </table>
            <table id="incident-data">
            <caption>Incident data <span id="incident-data-row-count"></span></caption>
            <thead>
              <th>NIBRS ID</th>
              <th>Year</th>
              <th>Incident date</th>
              <th>Location</th>
              <th>Agency</th>
              <th>Agency ORI</th>
              <th>Agency case ID</th>
              <th>Victims</th>
              <th>Offenses</th>
              <th>Offenders</th>
              <th>Arrestees</th>
              <th>Property</th>
              <th>Clearance</th>
            </thead>
            <tbody></tbody>
          </table>
          </div>
        </section>
      </main>
    </div>
    <script src="/static/libs/fetch.js"></script>
    <script src="/static/js/filters.js"></script>
  </body>
</html>
