<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Crime Data Explorer prototypes</title>
    <link rel="stylesheet" href="/static/libs/uswds/css/uswds.css">
    <link rel="stylesheet" href="/static/css/filters.css">
  </head>
  <body>
    <main>
      <h1>CDE Prototypes</h1>
      <ol>
        <li>
          <a href="/prototypes/sentences/?k={{ key }}">
            <code>/prototypes/sentences</code>
          </a>
        </li>
        <li>
          <a href="/prototypes/filters/?k={{ key }}&collapse=type+time+offender+victim+property+clearance&values={&quot;location&quot;:&quot;California&quot;}">
            <code>/prototypes/filters</code>
          </a>
        </li>
        <li>
          <a href="/prototypes/queries/?k={{ key }}">
            <code>/prototypes/queries</code>
          </a>
        </li>
      </ol>
    </main>
  </body>
</html>
